{% extends "base.html" %}

{% block title %}Ticket Info{% endblock %}

{% block content %}
    <h1>{{ticket.title}}</h1>
    <!-- https://stackoverflow.com/questions/4320679/django-display-choice-value -->
    <h2>Ticket Status:  {{ticket.get_ticket_status_display}}</h2>
    <h3>Description</h3>
    <p> {{ticket.description}}</p>
    <p>Submitted by: <a href="{% url 'user' ticket.filed_by.id %}"> {{ticket.filed_by}}</a></p>
    <p>Assigned To:  {{ticket.assigned_to}}</p>
    <p>Completed By:  {{ticket.completed_by}}</p>
    <p>Time Submitted: {{ticket.time_submitted}}</p>

    

    <a href="{% url 'home' %}">Back Home</a>
    <br>
    <a href="{% url 'edit_ticket' ticket.id %}">Edit Ticket</a>
    
{% endblock %}